<!-- <div class="container">
  <div clas="details">
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="input-container">
          <label>Email</label>
          <div>
            <input type="email" placeholder="Email" formControlName="email"/>
          </div>
          <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
            <div *ngIf="fc['email'].errors['required']">Should not be empty</div>
            <div *ngIf="fc['email'].errors['email']">Email is not correct</div>
          </div>
        </div>
        <div class="input-container">
          <label>Password</label>
          <div>
            <input type="password" placeholder="Password" formControlName="password"/>
          </div>
          <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
            <div *ngIf="fc['password'].errors['required']">Should not be empty</div>
          </div>
        </div>
        <div class="button">
          <button type="submit">Login</button>
        </div>
      </form>
  </div>
</div> -->

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form [formGroup]="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <div class="error-list" *ngIf="fc['email'].errors">
                    <div *ngIf="fc['email'].errors['required']" class="text-danger" >Should not be empty</div>
                    <div *ngIf="fc['email'].errors['email']" class="text-danger" >Email is not correct</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div class="error-list" *ngIf="fc['password'].errors">
                  <div *ngIf="fc['password'].errors['required']" class="text-danger" >Should not be empty</div>
                </div>
            </div>
            
            <div class="text-center">
                <button class="btn btn-outline-primary" (click)="login()">Login</button>
            </div>
        </form>
    </div>
  </div>